---
---

<div
  class="hidden md:block bg-blue-900 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-400 border-b border-blue-900 text-sm px-3 py-2 text-gray-200 overflow-hidden whitespace-nowrap text-ellipsis"
>
    <div class="flex justify-center items-center">
        <p class="py-0.5 px-1 text-gray-200 dark:text-slate-300 bg-primary dark:bg-slate-700">Cyber Soc Ball Tickets Now Available!  → </p>
        <a
        class="hover:underline py-0.5 px-1 text-gray-200 dark:text-slate-300 bg-primary dark:bg-slate-700"
        href="https://www.warwicksu.com/venues-events/events/61481/24115/"
        target="_blank"
        >
        Get Tickets Here
        </a>
        <p class="hover:underline py-0.5 px-1 text-gray-200 dark:text-slate-300 bg-primary dark:bg-slate-700">|</p>
        <a
        class="hover:underline py-0.5 px-1 text-gray-200 dark:text-slate-300 bg-primary dark:bg-slate-700"
        href="/cyber-ball-2023"
        >
        More Info
        </a>
    </div>
</div>
