---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { Image } from '@astrojs/image/components';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Hello and welcome to the <span class="font-semibold text-accent dark:text-white highlight">Warwick Cyber Security Society!</span>  We're a friendly and inclusive community centred around our love of Cyber Security. </span>
        From competing in CTFs to hosting talks and great socials, we're definitely the place to be if you love all things cyber, 
        want to get involved with an up and coming discipline, or just want to have some fun! <br> <br> 
        <span class="font-semibold text-accent dark:text-white highlight text-xl">More Info Below!</span>
    </Fragment>
  </Hero>

  <Features
    title="Society Achievements"

    items={[
      [
        {
          title: '#1 - pwnEd2 CTF (2021)',
          description:
            '',
          icon: 'tabler:chevrons-right',
        },
        {
          title: '#1 - Veracode The Hacker Games (2021)',
          description:
            '',
          icon: 'tabler:chevrons-right',
        },
      ],
      [
        {
          title: '#1 - HTB x UNI CTF Qualifiers (2021)',
          description:
            '',
          icon: 'tabler:chevrons-right',
        },
        {
          title: '#1 - BAESystems & University of Warwick Computing Society (2021)',
          description:
            '',
          icon: 'tabler:chevrons-right',
        },
      ],
    ]}
  />


 <!-- Features2 Widget ************** -->
  <section class="relative">
  <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 -mb-12">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="mb-8 md:mx-auto text-center max-w-3xl">    
        <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Meet the Exec!</h2>
      </div>
      <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5 my-12 dark:text-white items-stretch">
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
          <Image class="rounded" src="/ana-pres.png" width={300} aspectRatio="1:1" format="png" alt="ana" />
          <div class="flex items-center"> 
            <div class="text-xl font-bold mt-4">Ana Vijay</div>
          </div>
          <p class="text-muted dark:text-gray-400 text-md mt-2">President</p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
          <Image class="rounded" src="/oscars.jpg" width={300} aspectRatio="1:1" format="png" alt="oscar s" />
          <div class="flex items-center"> 
            <div class="text-xl font-bold mt-4">Oscar Sharpe</div>
          </div>
          <p class="text-muted dark:text-gray-400 text-md mt-2">Secretary</p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
          <Image class="rounded" src="/ellis.jpg" width={300} aspectRatio="1:1" format="png" alt="ellis" />
          <div class="flex items-center"> 
            <div class="text-xl font-bold mt-4">Ellis Trisk-Grove</div>
          </div>
          <p class="text-muted dark:text-gray-400 text-md mt-2">Treasurer</p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
          <Image class="rounded" src="/george.jpg" width={300} aspectRatio="1:1" format="png" alt="george" />
          <div class="flex items-center"> 
            <div class="text-xl font-bold mt-4">George Liddell</div>
          </div>
          <p class="text-muted dark:text-gray-400 text-md mt-2">Welfare Officer</p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
          <Image class="rounded" src="/rhys.jpg" width={300} aspectRatio="1:1" format="png" alt="rhys" />
              <div class="flex items-center"> 
                <div class="text-xl font-bold mt-4">Rhys Davies</div>
              </div>
              <p class="text-muted dark:text-gray-400 text-md mt-2">Social Secretary</p>
            </div><div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
              <Image class="rounded" src="/gabs.jpg" width={300} aspectRatio="1:1" format="png" alt="gabs" />
              <div class="flex items-center"> 
                <div class="text-xl font-bold mt-4">Gabs Smith</div>
              </div>
              <p class="text-muted dark:text-gray-400 text-md mt-2">Social Secretary</p>
            </div><div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
              <Image class="rounded" src="/oscarw.jpg" width={300} aspectRatio="1:1" format="png" alt="oscar w" />
              <div class="flex items-center"> 
                <div class="text-xl font-bold mt-4">Oscar Williamson</div>
              </div>
              <p class="text-muted dark:text-gray-400 text-md mt-2">Technician</p>
            </div><div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
              <Image class="rounded" src="/samyak.jpg" width={300} aspectRatio="1:1" format="png" alt="samyak" />
              <div class="flex items-center"> 
                <div class="text-xl font-bold mt-4">Samyak Jeevane</div>
              </div>
              <p class="text-muted dark:text-gray-400 text-md mt-2">Postgraduate Officer</p>
            </div><div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
              <Image class="rounded" src="/sarah.jpg" width={300} aspectRatio="1:1" format="png" alt="sarah" />
              <div class="flex items-center"> 
                <div class="text-xl font-bold mt-4">Sarah Tipper</div>
              </div>
              <p class="text-muted dark:text-gray-400 text-md mt-2">Women's Officer</p>
            </div><div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
              <Image class="rounded" src="/devon.jpg" width={300} aspectRatio="1:1" format="png" alt="devon" />
              <div class="flex items-center"> 
                <div class="text-xl font-bold mt-4">Devon Connor</div>
              </div>
              <p class="text-muted dark:text-gray-400 text-md mt-2">External Comms Officer</p>
            </div>
      </div>
    </div>
  </div>
</section>

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Recent Soc News"
    information={`
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->
</Layout>
