{{ define "head" }}
{{ end }}
{{define "content"}}
<section>
	<div class="container misc0grad" id="mainHeaderMisc">
		<img src="/images/misc0nfig_banner_transparent.png" alt="misc0nfig"	class="headerImage" loading="eager" id="misc0nfigLogo"/>
		<p>
		misc0nfig is the annual Warwick Cyber Security Society conference, started in 2025! We host a series of talks and workshops for all levels of cyber knowledge.
        </p>

	</div>
</section>
<section class="alt-bg">
	<div class="container" id="Sponsors">
    <h1>You can book your tickets for 2025 <a href="https://www.warwicksu.com/venues-events/events/61481/26830/">here!</a></h1>
    <br><br>
	<h2 class="subTitle" id="Sponsors">Society Sponsors</h2>
	<div class="sponsorContainer clickable">
	{{ range .Sponsors }}
		<div class="sponsor" onclick="openSponsors()">
			<img src="{{.Image}}" class="image" />
		</div>
	{{end}}
	</div>
	</div>
</section>
{{end}}