{{ define "head" }}
{{ end }}
{{define "content"}}
<section>
	<div class="container misc0grad" id="mainHeaderMisc">
		<img src="/images/misc0nfig_banner_transparent.png" alt="misc0nfig"	class="headerImage" loading="eager" id="misc0nfigLogo"/>
		<p>
		misc0nfig is the annual Warwick Cyber Security Society conference, started in 2025! We host a series of talks and workshops for all levels of cyber knowledge.
        </p>

	</div>
</section>
<section class="bg">
<h1 id="announcement">You can book your tickets for 2025 <a href="https://www.warwicksu.com/venues-events/events/61481/26830/">here!</a></h1>
</section>
<section class="alt-bg">
	<div class="container" id="Sponsors">
	<h2 class="subTitle" id="Sponsors">Conference Sponsors</h2>
	<div class="sponsorContainer clickable">
	{{ range .ConfSponsors }}
		<div class="sponsor" onclick="openSponsors()">
			<img src="{{.Image}}" class="image" />
		</div>
	{{end}}
	</div>
	</div>
</section>
<section>

{{ $.Schedule }}
{{range $key, $value := $.SkipMap}}
	{{ $key }}: {{ $value }}
{{end}}

<table>
  <thead>
    <tr>
      <th>Time</th>
      {{ range .Rooms }}
        <th>{{ . }}</th>
      {{ end }}
    </tr>
  </thead>
  <tbody>
    {{ range $timeIdx, $time := $.Timeslots }}
  <tr>
    <td>{{ $time }}</td>

    {{ range $roomIdx, $room := $.Rooms }}
      {{ $key := printf "%s|%s" $room $time }}
	  {{ $key }}
      {{ if index $.SkipMap $key }}
        {{/* Skip, because covered by rowspan */}}
      {{ else }}
        {{ $found := false }}
        {{ range $.Events }}
          {{ if and (eq .Room $room) (eq .Start $time) }}
            <td rowspan="{{ .RowSpan }}">
              <strong>{{ .Title }}</strong><br>
              {{ .Speaker }} ({{ .Company }})
            </td>
            {{ $found = true }}
          {{ end }}
        {{ end }}
        {{ if not $found }}
          <td></td>
        {{ end }}
      {{ end }}
    {{ end }}

  </tr>
{{ end }}

  </tbody>
</table>







</section>

{{end}}