{{define "head"}}
{{end}}
{{define "content"}}
<section>
	<div class=container id=head>
		<h1>Opportunities</h1>
		<p class="justify-center">
		A list of open opportunities from our society sponsors, including both placement and graduate role opportunities!
		</p>
	</div>
</section>
<section class="alt-bg">
	<div class="opportunityContainer container">
		{{range .Sponsors}}
			<div class="opportunityBlock">
				<a href="{{.Link}}" target="_blank" class="clickable h-100"><img src="{{.Image}}" class="image clickable mw-100" /></a>
				<hr />
				{{ if or .Opportunities.Internships .Opportunities.Gradroles }}
					{{ range .Opportunities.Internships }}
						<a href="{{ .Link }}" class="link-light">{{ .Role }}</a><br /><br />
					{{ end }}
					{{ range .Opportunities.Gradroles }}
						<a href="{{ .Link }}" class="link-dark">{{ .Role }}</a><br /><br />
					{{ end }}
				{{ else }}
					<p>Nothing to see here...</p>
				{{ end }}
			</div>
		{{end}}
	</div>
</section>
{{end}}
