{{define "head"}}
{{end}}
{{define "content"}}
<section>
	<div class=container id=head>
		<h1>Resources</h1>
	<p>
	We have curated a list of resources and posts/writeups from members of the community. If you have a resource you would like to share, please submit a pull request to the <a href="https://github.com/WarwickCyberSoc/society-website" target="_blank">Repo</a>
	</p>
	<div id="resources">
	{{range .Resources}}
		<div class=resource>
			<p class="resourceTitle">{{.Title}}</p>
			<a href="{{.Link}}" target="_blank">{{.Link}}</a>
			<p class="description" >{{.Description}}</p>
		</div>
	{{end}}
	</div>
	</div>
</section>
<section>
	<div class=container>
		<h2>Writeups</h2>
		<table id="writeups">
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Link</th>
			</tr>
		{{range .Posts}}
			<tr>
				<td>{{.Title}}</td>
				<td>{{.Author}}</td>
				<td><a href="{{.Link}}" target="_blank">Link</a></td>
			</tr>
		{{end}}
		</table>
	</div>
{{end}}
