{{ define "head" }}
{{ end }}
{{define "content"}}
<section>
<h2 class="subTitle text-warning" id="Sponsors">Gold Sponsors</h2>
	<div id="sponsors" class="container">
	<div class="goldSponsorContainer">
	{{range .GoldSponsors}}
		<div class="sponsor">
            <a href="{{.Link}}" target="_blank" class="clickable fixed-size"><img src="{{.Image}}" class="image clickable gold" /></a>
			<p class="description" >{{.Description}}</p>
			<p>View open opportunities here: <a href="{{.Link}}" >{{ .Link }}</a></p>
		</div>
	{{end}}
	</div>
	</div>
</section>
<section class="alt-bg pt-5">
<h2 class="subTitle" id="Sponsors">Silver Sponsors</h2>
	<div id="sponsors" class="container">
	<div class="sponsorContainer">
	{{range .SilverSponsors}}
		<div class="sponsor">
            <a href="{{.Link}}" target="_blank" class="clickable fixed-size"><img src="{{.Image}}" class="image clickable silver" /></a>
			<p class="description" >{{.Description}}</p>
			<p>View open opportunities here: <a href="{{.Link}}" >{{ .Link }}</a></p>
		</div>
	{{end}}
	</div>
	</div>
</section>
{{end}}
