{{ define "head" }}
{{ end }}

{{ define "contentTop" }}
<section>
  <div class="container" id="mainHeaderMisc">
    <h2>Society Calendar</h2>
  </div>
</section>

{{ end }}

{{ define "contentWide" }}
<section style="width: 100%; padding: 2.5% 0;" class="bg">
  <div id="timetable">
    <div class="table-scroll-wrapper">
      <table>
        <thead>
          <tr>
            <th>Week</th>
            {{ range .Timetable.Days }}
              <th>{{ . }}</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range $weekIdx, $week := $.Timetable.Weeks }}
            <tr>
              <td>{{ $week.Index }}<br>w/c {{ $week.date }}</td>

              {{ range $dayIdx, $day := $.Timetable.Days }}
                {{ $key := printf "%s|%s" $day $week }}
                  {{ $found := false }}
                  <td class="highlightCell">
                  {{ range $.Timetable.CurrentEvents }}
                    {{ if and (eq .Day $day) (eq .Week $week.Index) }}
                      
                        <strong>{{ .Title }}</strong><br>
                        {{ .Room }}<br>{{ .Start }} - {{ .End }}
                      {{ $found = true }}
                    {{ end }}
                  {{ end }}
                  </td>
                  {{ if not $found }}
                    <td></td>
                  {{ end }}
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</section>
{{ end }}
